@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --blue: #2355F2;
    --white: #ffff;
    --text1: #595959;
    --text2:#d2d2d2;
    --text3: #b1b1b1;
    --bg-input: #f5f7fa;
    --bg-border-input: #d8d8d8;
}
/* Css reset */
body,header,a,ul,li,nav,main,div,h1,h2,h3,p, section{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans' , sans-serif;
}
body{
    height: 100vh;
    background-image: url(Assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
main{
    max-width: 500px;
    background-color: var(--white);
    margin: 200px auto;
    border-radius: 10px;
}
main #a{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--blue);
    background-image: url(Assets/Pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#a h1{
    color: var(--white);
    font-weight: 500;
    font-size: 1.9rem;
}

#b-container{
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

#b-container p#p-1{
    color: var(--text1);
    text-align: center;
    margin: 20px 35px 35px 20px;
}

#input-c{
    display: flex;
    align-items: center;
    height: 48px;
}

#input-c input{
    height: 100%;
    width: 285px;
    background-color: var(--bg-input);
    border: 1px solid var(--bg-border-input);
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    padding-left: 20px;
}

#input-c input::placeholder{
    font-family: 'Work Sans' , sans-serif;
    color: var(--text2);
    font-size: 0.9rem;
}

#input-c input:focus{
    outline: 1px dotted var(--blue);
    

}

#input-c button{
    height: 100%;
    width: 140px;
    background-color: var(--blue);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);
    font-family: 'Work Sans' , sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#p-2{
    color: var(--text3);
    margin-top: 15px;
    
}

div#avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

#paragrafos-end{
    margin-left: 10px;
    color: var(--text1);
}
#p-3{
    color: black;
    font-weight: 600;
}
p#end-p{
    color: var(--text1);
    text-align: center;
    margin: 20px 5px 30px 5px;
}


